[submodule "reference/react-radix-primitives"]
	path = reference/react-radix-primitives
	url = https://github.com/radix-ui/primitives.git
[submodule "reference/base-ui"]
	path = reference/base-ui
	url = https://github.com/mui/base-ui.git
[submodule "reference/shadcn-ui"]
	path = reference/shadcn-ui
	url = https://github.com/shadcn-ui/ui.git
[submodule "reference/tanstack-virtual"]
	path = reference/tanstack-virtual
	url = https://github.com/TanStack/virtual.git
