.ptf-field {
    display: flex;
    width: 300px;
    max-width: 100%;
    border: 1px solid #ddd;
    height: 1.75rem;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.ptf-field:has(.ptf-input:focus) {
    outline: 1px solid dodgerblue;
    border-color: dodgerblue;
}

.ptf-input {
    all: unset;
    flex: 1 1 auto;
    height: 100%;
    padding: 0 0.5rem;
}

.ptf-toggle {
    all: unset;
    height: 1.75rem;
    aspect-ratio: 1;
    flex: 0 0 1.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ptf-toggle:focus-visible {
    outline: 2px solid dodgerblue;
    outline-offset: -4px;
}
