.progress-root {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 20px;
    background: #ddd;
    border-radius: 9999px;
}

.progress-indicator {
    height: 100%;
    background: #111;
    border-radius: 9999px;
    transition: width 100ms;
}
