.root-991 {
  font-family: sans-serif;

  &[data-orientation='horizontal'] {
    display: flex;
    max-width: 40em;
    height: 50vh;
  }

  &[data-orientation='vertical'] {
    max-width: 20em;
  }
}

.item-991 {
  &[data-orientation='horizontal'] {
    display: flex;
    border-right: 1px solid var(--gray-1);
  }

  &[data-orientation='vertical'] {
    border-bottom: 1px solid var(--gray-1);
  }
}

.header-991 {
  margin: 0;

  &[data-orientation='horizontal'] {
    height: 100%;
  }
}

.trigger-991 {

  /* because it's a button, we want to stretch it */
  &[data-orientation='horizontal'] {
    height: 100%;
  }

  &[data-orientation='vertical'] {
    width: 100%;
  }

  text-align: inherit;
  box-sizing: border-box;
  appearance: none;
  border: none;
  padding: 10px;
  background-color: black;
  color: var(--gray-1);
  font-family: inherit;
  font-size: 1.2em;

  &:focus {
    outline: 2px solid var(--red-8);
    color: var(--red-9);
  }

  &[data-disabled] {
    color: var(--gray-9);
  }

  &[data-state='open'] {
    background-color: var(--red-9);
    color: var(--gray-1);

    &:focus {
      color: var(--gray-12);
    }
  }
}

.content-991 {
  padding: 10px;
  line-height: 1.5;
}

.animatedContent-991 {
  overflow: hidden;

  &[data-state='open'] {
    animation: accordion-slideDown 300ms ease-out;
  }

  &[data-state='closed'] {
    animation: accordion-slideUp 300ms ease-out;
  }
}

.animated2DContent-991 {
  overflow: hidden;

  &[data-state='open'] {
    animation: accordion-open2D 1000ms ease-out;
  }

  &[data-state='closed'] {
    animation: accordion-close2D 1000ms ease-out;
  }
}

.rootAttr-991,
.itemAttr-991,
.headerAttr-991,
.triggerAttr-991,
.contentAttr-991 {
  background-color: var(--blue-a12);
  border: 2px solid var(--blue-9);
  padding: 10px;

  &[data-state='closed'] {
    border-color: var(--red-9);
  }

  &[data-state='open'] {
    border-color: var(--green-9);
  }

  &[data-disabled] {
    border-style: dashed;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.contentAttr-991 {
  /* ensure we can see the content (because it has `hidden` attribute) */
  display: block;
}

@keyframes accordion-slideDown {
  from {
    height: 0;
  }

  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }

  to {
    height: 0;
  }
}

@keyframes accordion-open2D {
  from {
    width: 0;
    height: 0;
  }

  to {
    width: var(--radix-accordion-content-width);
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-close2D {
  from {
    width: var(--radix-accordion-content-width);
    height: var(--radix-accordion-content-height);
  }

  to {
    width: 0;
    height: 0;
  }
}

.trigger-bcd {
}

.overlay-bcd,
.overlayAttr-bcd {
  /* ensures overlay is positionned correctly */
  position: fixed;
  inset: 0;
  /* --------- */
  background-color: var(--gray-12);
  opacity: 0.2;
}

.content-bcd,
.chromaticContent-bcd,
.contentAttr-bcd {
  /* ensures good default position for content */
  position: fixed;
  top: 0;
  left: 0;
  /* --------- */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gray-1);
  min-width: 300px;
  min-height: 150px;
  padding: 50px;
  border-radius: 10px;
  background-color: var(--gray-1);
  box-shadow: 0 2px 10px var(--black-a6);
}

.cancel-bcd,
.action-bcd {
  appearance: none;
  padding: 10px;
  border: none;
}

.cancel-bcd {
  background: var(--gray-3);
  color: var(--gray-12);
}

.action-bcd {
  background: var(--red-9);
  color: var(--gray-1);
}

.title-bcd {
}

.description-bcd {
}

.chromaticContent-bcd {
  padding: 10px;
  min-width: auto;
  min-height: auto;
}

.triggerAttr-bcd .overlayAttr-bcd,
.contentAttr-bcd,
.cancelAttr-bcd,
.actionAttr-bcd,
.titleAttr-bcd,
.descriptionAttr-bcd {
  background-color: var(--blue-a12);
  border: 2px solid var(--blue-9);
  padding: 10px;
  &[data-state='closed'] {
    border-color: var(--red-9);
  }
  &[data-state='open'] {
    border-color: var(--green-9);
  }
}


.root-78f {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red-9);
  color: var(--gray-1);
}


.root-a9a {
  max-width: 20em;
  font-family: sans-serif;
}

.trigger-a9a {
  /* because it's a button, we want to stretch it */
  width: 100%;
  /* and remove center text alignment in favour of inheriting */
  text-align: inherit;
  /* ---- */
  appearance: none;
  border: none;
  padding: 10px;
  background-color: var(--color-black);
  color: white;
  font-family: inherit;
  font-size: 1.2em;
  --shadow-color: crimson;

  &:focus {
    outline: none;
    box-shadow: inset 0 -5px 0 0 var(--shadow-color);
    color: var(--color-red);
  }

  &[data-disabled] {
    color: var(--color-gray300);
  }

  &[data-state='open'] {
    background-color: var(--color-red);
    color: var(--color-white);

    &:focus {
      --shadow-color: #111;
      color: var(--color-black);
    }
  }
}

.content-a9a {
  padding: 10px;
  line-height: 1.5;
}

@keyframes collapsible-slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes collapsible-slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes collapsible-openRight {
  from {
    width: 0;
  }
  to {
    width: var(--radix-collapsible-content-width);
  }
}

@keyframes collapsible-closeRight {
  from {
    width: var(--radix-collapsible-content-width);
  }
  to {
    width: 0;
  }
}

.animatedContent-a9a {
  overflow: hidden;
  &[data-state='open'] {
    animation: collapsible-slideDown 300ms ease-out;
  }
  &[data-state='closed'] {
    animation: collapsible-slideUp 300ms ease-in;
  }
}

.animatedWidthContent-a9a {
  overflow: hidden;
  &[data-state='open'] {
    animation: collapsible-openRight 300ms ease-out;
  }
  &[data-state='closed'] {
    animation: collapsible-closeRight 300ms ease-in;
  }
}

.rootAttr-a9a,
.triggerAttr-a9a,
.contentAttr-a9a {
  /* ensure we can see the content (because it has `hidden` attribute) */
  display: block;
  background-color: rgb(0 0 255 / 0.3);
  border: 2px solid blue;
  padding: 10px;

  &[data-state='closed'] {
    border-color: red;
  }
  &[data-state='open'] {
    border-color: green;
  }
  &[data-disabled] {
    border-style: dashed;
  }
  &:disabled {
    opacity: 0.5;
  }
}


.trigger-29d {
}

.overlay-29d {
  /* ensures overlay is positioned correctly */
  position: fixed;
  inset: 0;
  /* ------ */
  background-color: rgb(0 0 0 / 0.2);
}

.scrollableOverlay-29d {
  overflow: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contentDefault-29d,
.contentSheet-29d {
  /* ensures good default position for content */
  position: fixed;
  top: 0;
  left: 0;
  /* ------ */
  min-width: 300px;
  min-height: 150px;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.12);
}

.contentDefault-29d {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contentScrollable-29d {
  overflow: auto;
  max-height: 300px;
}

.contentInScrollableOverlay-29d {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contentSheet-29d {
  left: initial;
  right: 0;
  min-width: 300px;
  min-height: 100vh;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.close-29d {
}

@keyframes dialog-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes dialog-scaleIn {
  from {
    transform: translate(-50%, -50%) scale(0.75);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.animatedOverlay-29d {
  &[data-state='open'] {
    animation: dialog-fadeIn 300ms ease-out;
  }
  &[data-state='closed'] {
    animation: dialog-fadeOut 300ms ease-in;
  }
}

.animatedContent-29d {
  &[data-state='open'] {
    animation:
      dialog-fadeIn 150ms ease-out,
      dialog-scaleIn 200ms ease-out;
  }
  &[data-state='closed'] {
    animation: dialog-fadeOut 300ms ease-in;
  }
}

.duration50-29d {
  animation-duration: 50ms;
}

.chromaticContent-29d {
  padding: 10px;
  min-width: auto;
  min-height: auto;
}

.triggerAttr-29d,
.overlayAttr-29d,
.contentAttr-29d,
.closeAttr-29d {
  background-color: rgb(0 0 255 / 0.3);
  border: 2px solid blue;
  padding: 10px;

  &[data-state='closed'] {
    border-color: red;
  }
  &[data-state='open'] {
    border-color: green;
  }
}


.form-516 {
  & [data-invalid] {
    color: var(--red-9);
    outline-color: currentColor;
  }
  & [data-valid] {
    color: var(--green-9);
    outline-color: currentColor;
  }
}


.content-f4c {
  transform-origin: var(--radix-hover-card-content-transform-origin);
  /* ----- */
  background-color: var(--color-gray300);
  padding: 20px;
  border-radius: 5px;
}

.arrow-f4c {
  fill: var(--color-gray300);
}

@keyframes hoverCard-fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hoverCard-fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.9);
    opacity: 0;
  }
}

.animatedContent-f4c {
  &[data-state='open'] {
    animation: hoverCard-fadeIn 250ms ease;
  }
  &[data-state='closed'] {
    animation: hoverCard-fadeOut 250ms ease;
  }
}

.grid-f4c {
  display: inline-grid;
  grid-template-columns: repeat(3, 50px);
  column-gap: 150px;
  row-gap: 100px;
  padding: 100px;
  border: 1px solid black;
}

.contentAttr-f4c,
.arrowAttr-f4c,
.triggerAttr-f4c {
  background-color: rgb(0 0 255 / 0.3);
  border: 2px solid blue;
  padding: 10px;

  &[data-state='closed'] {
    border-color: red;
  }
  &[data-state='open'] {
    border-color: green;
  }
}

.chromaticArrow-f4c {
  fill: black;
}

.chromaticContent-f4c,
.contentAttr-f4c {
  display: grid;
  place-content: center;
  width: 60px;
  height: 60px;
  background-color: royalblue;
  color: white;
  font-size: 10px;
  border: 1px solid rgb(0 0 0 / 0.3);
}

.chromaticTrigger-f4c {
  width: 30px;
  height: 30px;
  background-color: tomato;
  border: 1px solid rgb(0 0 0 / 0.3);
}


.root-597 {
  /* ensures it can receive vertical margins */
  display: inline-block;
  /* better default alignment */
  vertical-align: middle;
  /* mimics default `label` tag (as we render a `span`) */
  cursor: default;
  display: inline-block;
  border: 1px solid var(--gray-5);
  padding: 10px;
}

.control-597 {
  display: inline-flex;
  border: 1px solid var(--gray-5);
  padding: 10px;
  vertical-align: middle;
  margin: 0 10px;

  &:hover {
    background-color: var(--red-9);
  }
}


.content-7f3 {
  display: inline-block;
  box-sizing: border-box;
  min-width: 130px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray100);
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
  font-size: 13px;
  &:focus-within {
    border-color: var(--color-black);
  }
}

.label-7f3,
.item-7f3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  cursor: default;
  user-select: none;
  white-space: nowrap;
  height: 25px;
  padding: 0 10px;
  color: var(--color-black);
  border-radius: 3px;
}

.label-7f3 {
  color: var(--color-gray100);
}

.item-7f3 {
  outline: none;

  &[data-highlighted] {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &[data-disabled] {
    color: var(--color-gray100);
  }
}

.subTrigger-7f3 {
  &:not([data-highlighted])[data-state='open'] {
    background-color: var(--color-gray100);
    color: var(--color-black);
  }
}

.separator-7f3 {
  height: 1;
  margin: 5px 10px;
  background-color: var(--color-gray100);
}

@keyframes menu-animateIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes menu-animateOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

.animatedContent-7f3 {
  &[data-state='open'] {
    animation: menu-animateIn 300ms ease;
  }
  &[data-state='closed'] {
    animation: menu-animateOut 300ms ease;
  }
}

.animatedItemIndicator-7f3 {
  &[data-state='checked'] {
    animation: menu-animateIn 300ms ease;
  }
  &[data-state='unchecked'] {
    animation: menu-animateOut 300ms ease;
  }
}


.viewport-954 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.form-954 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.field-954 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.selectField-954 {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.otpRoot-954 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

:where(.otpRoot-954) input:not([type='hidden']) {
  --border-color: #ddd;
  --focus-ring-color: dodgerblue;
  height: 3rem;
  width: 2rem;
  text-align: center;
  font-size: 1em;
  padding: 0;
  box-shadow: none;
  border: 2px solid var(--border-color);
  border-radius: 4px;
}

:where(.otpRoot-954[data-state='invalid']) input:not([type='hidden']) {
  --focus-ring-color: tomato;
  --border-color: crimson;
}

:where(.otpRoot-954[data-state='valid']) input:not([type='hidden']) {
  --focus-ring-color: limegreen;
  --border-color: green;
}

:where(.otpRoot-954[data-state='valid']) input:focus {
  outline: 2px solid var(--focus-ring-color);
  outline-offset: 0;
}

.errorMessage-954 {
}

.separator-954 {
  height: calc(100% - 8px);
  width: 1px;
  background-color: #ddd;
}

.output-954 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  padding: 1rem;
  background-color: var(--gray-4);
  border: 1px solid var(--gray-6);
  border-radius: 4px;

  &:where([data-state='valid']) {
    background-color: var(--green-5);
    border-color: var(--green-6);
  }

  &:where([data-state='invalid']) {
    background-color: var(--red-5);
    border-color: var(--red-6);
  }
}


.viewport-bde {
  --easing: cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 24px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
}

.field-bde {
  --_field-height: 1.75rem;
  display: flex;
  width: 300px;
  max-width: 100%;
  border: 1px solid #ddd;
  height: var(--_field-height);
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.field-bde:has(.input-bde:focus) {
  outline: 1px solid dodgerblue;
  border-color: dodgerblue;
}

.input-bde {
  all: unset;
  flex: 1 1 auto;
  height: 100%;
  vertical-align: center;
  padding: 0 0.5rem;
}

.toggle-bde {
  all: unset;
  height: var(--_field-height);
  aspect-ratio: 1;
  flex: 0 0 var(--_field-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-bde:focus-visible {
  outline: 2px solid dodgerblue;
  outline-offset: -4px;
}


.content-1ad {
  transform-origin: var(--radix-popper-transform-origin);
  background-color: var(--color-gray100);
  padding: 10px;
  border-radius: 10px;
}

.contentSmall-1ad {
  width: 100px;
  height: 50px;
}

.contentLarge-1ad {
  width: 300px;
  height: 150px;
}

.anchor-1ad {
  background-color: hotpink;
}

.anchorSmall-1ad {
  width: 50px;
  height: 50px;
}

.anchorLarge-1ad {
  width: 100px;
  height: 100px;
}

.arrow-1ad {
  fill: var(--color-gray100);
}

@keyframes popper-rotateIn {
  0% {
    transform: scale(0) rotateZ(calc(var(--direction, 0) * 45deg));
  }
  100% {
    transform: scale(1);
  }
}

.animatedContent-1ad {
  &[data-side='top'] {
    --direction: 1;
  }
  &[data-side='bottom'] {
    --direction: -1;
  }
  animation: popper-rotateIn 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}


@keyframes presence-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes presence-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes presence-slideUp {
  from {
    transform: translateY(30px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes presence-slideDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(30px);
  }
}

.mountAnimation-49a {
  animation: presence-fadeIn 3s ease-out;
}

.unmountAnimation-49a {
  &[data-state='closed'] {
    animation: presence-fadeOut 3s ease-in;
  }
}

.multipleMountAnimations-49a {
  animation:
    presence-fadeIn 6s cubic-bezier(0.22, 1, 0.36, 1),
    presence-slideUp 6s cubic-bezier(0.22, 1, 0.36, 1);
}

.openAndCloseAnimation-49a {
  &[data-state='open'] {
    animation: presence-fadeIn 3s ease-out;
  }
  &[data-state='closed'] {
    animation: presence-fadeOut 3s ease-in;
  }
}

.multipleOpenAndCloseAnimations-49a {
  &[data-state='open'] {
    animation:
      presence-fadeIn 3s cubic-bezier(0.22, 1, 0.36, 1),
      presence-slideUp 1s cubic-bezier(0.22, 1, 0.36, 1);
  }
  &[data-state='closed'] {
    animation:
      presence-fadeOut 3s cubic-bezier(0.22, 1, 0.36, 1),
      presence-slideDown 1s cubic-bezier(0.22, 1, 0.36, 1);
  }
}


.root-e07 {
  width: 400px;
  height: 20px;
  max-width: 100%;
  border: 5px solid var(--gray-12);
  background-color: var(--gray-3);
}

.indicator-e07,
.chromaticIndicatorClass-e07 {
  width: 0;
  height: 100%;
  background-color: var(--red-9);
  transition: background 150ms ease-out;
  &[data-state='indeterminate'] {
    background-color: var(--gray-8);
  }
  &[data-state='complete'] {
    background-color: var(--green-9);
  }
  &::before {
    content: attr(data-value);
  }
  &::after {
    content: attr(data-max);
  }
}

.rootAttr-e07,
.indicatorAttr-e07 {
  background-color: var(--blue-a12);
  border: 2px solid var(--blue-9);
  padding: 10px;

  &[data-state='loading'] {
    border-color: var(--red-9);
  }
  &[data-state='indeterminate'] {
    border-color: var(--purple-9);
  }
  &[data-state='complete'] {
    border-color: var(--green-9);
  }
}

.indicatorAttr-e07 {
  &::before {
    content: attr(data-value);
  }
  &::after {
    content: attr(data-max);
  }
}


.root-2de {
}

.item-2de {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  display: inline-grid;
  padding: 0;
  place-items: center;
  border: 1px solid var(--color-gray300);
  border-radius: 9999px;

  &:focus {
    outline: none;
    border-color: var(--color-red);
    box-shadow: 0 0 0 1px var(--color-red);
  }

  ,
  &[data-disabled] {
    opacity: 0.5;
  }
}

.indicator-2de {
  width: 18px;
  height: 18px;
  background-color: var(--color-red);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.animatedIndicator-2de {
  &[data-state='checked'] {
    animation: radioGroup-fadeIn 300ms ease-out;
  }
  &[data-state='unchecked'] {
    animation: radioGroup-fadeOut 300ms ease-in;
  }
}

.rootAttr-2de,
.itemAttr-2de,
.indicatorAttr-2de {
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10px;

  &[tabindex='0'] {
    box-shadow: inset 0 0 0 2px yellow;
  }
  &:disabled {
    opacity: 0.5;
  }
  &[data-disabled] {
    border-style: dashed;
  }
  &[data-state='unchecked'] {
    border-color: red;
  }
  &[data-state='checked'] {
    border-color: green;
  }
}

.label-2de {
  /* ensures it can receive vertical margins */
  display: inline-block;
  /* better default alignment */
  vertical-align: middle;
  /* mimics default `label` tag (as we render a `span`) */
  cursor: default;
  display: inline-block;
}

@keyframes radioGroup-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes radioGroup-fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.root-6c7,
:root {
  --scroll-area-scrollbar-size: 8px;
}

.scrollArea-6c7 {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.scrollAreaViewport-6c7 {
  width: 100%;
  height: 100%;
}

.scrollbar-6c7 {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  transition: background 160ms ease-out;
  padding: 2px;
  background: rgba(0, 0, 0, 0.3);
  &:hover {
    background: rgba(0, 0, 0, 0.5);
  }
  &[data-orientation='vertical'] {
    width: var(--scroll-area-scrollbar-size);
  }
  &[data-orientation='horizontal'] {
    flex-direction: column;
    height: var(--scroll-area-scrollbar-size);
  }
}

.thumb-6c7 {
  flex: 1;
  /* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    min-width: 44px;
    min-height: 44px;
  }
  background: black;
  border-radius: var(--scroll-area-scrollbar-size);
}

.corner-6c7 {
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    width: var(--scroll-area-scrollbar-size);
    height: var(--scroll-area-scrollbar-size);
    border-radius: var(--scroll-area-scrollbar-size);
  }
}

.animatedThumb-6c7 {
  &[data-state='visible'] {
    animation: scrollArea-fadeIn 300ms ease;
  }
  &[data-state='hidden'] {
    animation: scrollArea-fadeOut 300ms ease;
  }
}

@keyframes scrollArea-fadeIn {
  from {
    transform: scale(0.2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scrollArea-fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.2);
    opacity: 0;
  }
}


.root-82b {
  border: none;
  background-color: var(--color-red);

  &[data-orientation='horizontal'] {
    height: 1px;
    width: 100%;
    margin: 20px 0;
  }

  &[data-orientation='vertical'] {
    height: 100px;
    width: 1px;
    margin: 0 20px;
  }
}


.root-c8a,
.rootAttr-c8a {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
}

.root-c8a {
  &[data-orientation='horizontal'] {
    height: 25px;
  }
  &[data-orientation='vertical'] {
    flex-direction: column;
    width: 25px;
  }
  &[data-disabled] {
    opacity: 0.5;
  }
}

.track-c8a,
.trackAttr-c8a {
  position: relative;
  /* ensures full width in horizontal orientation, ignored in vertical orientation */
  flex-grow: 1;
}

.track-c8a {
  background: gainsboro;
  border-radius: 4px;
  &[data-orientation='horizontal'] {
    height: 4px;
  }
  &[data-orientation='vertical'] {
    width: 4px;
    height: 300px;
  }
}

.range-c8a,
.rangeAttr-c8a {
  position: absolute;
  /* good default for both orientation (match track width/height respectively) */
  &[data-orientation='horizontal'] {
    height: 100%;
  }
  &[data-orientation='vertical'] {
    width: 100%;
  }
}

.range-c8a {
  background: var(--color-black);
  border-radius: inherit;
}

.thumb-c8a,
.thumbAttr-c8a {
  /* ensures the thumb is sizeable */
  display: block;

  /* Add recommended target size regardless of styled size */
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 44px;
    height: 44px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.thumb-c8a {
  border-radius: 25px;
  width: 25px;
  height: 25px;
  background-color: var(--color-black);
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-red);
  }

  display: inline-grid;
  place-items: center;
  &:after {
    content: attr(aria-valuenow);
    position: relative;
    font-size: 10px;
    color: white;
  }
}

.rootAttr-c8a,
.trackAttr-c8a,
.rangeAttr-c8a,
.thumbAttr-c8a {
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10px;

  &[data-disabled] {
    border-style: dashed;
  }
}


.root-dff {
  /* ensures things are layed out correctly by default */
  display: flex;
  &[data-orientation='horizontal'] {
    flexdirection: column;
  }
  /* ---------- */
  border: 1px solid #eee;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  max-width: 20rem;
}

.list-dff {
  flex-shrink: 0;
  /* ensures things are layed out correctly by default */
  display: flex;
  &[data-orientation='vertical'] {
    flex-direction: column;
  }
  /* ---------- */
  background-color: #eee;
}

.trigger-dff {
  all: unset;
  flex-shrink: 0;
  /* ---------- */
  padding: 0.4em 0.6em;
  font-weight: 500;
  line-height: 1;
  user-select: none;

  &[data-orientation='horizontal'] {
    border-top: 4px solid transparent;
    border-bottom: 4px solid var(--border-color, transparent);
  }

  &[data-orientation='vertical'] {
    padding: 0.6em;
    border-right: 4px solid var(--border-color, transparent);
  }

  &[data-disabled] {
    color: var(--color-gray300);
  }

  &[data-state='active'] {
    --border-color: crimson;
  }

  &:focus {
    --border-color: #111;
    outline: 1px solid var(--border-color);
    &[data-state='active'] {
      --border-color: crimson;
    }
  }
}

.content-dff {
  flex-grow: 1;
  /* ---------- */
  padding: 1em;
  font-weight: 300;
  font-size: 0.85em;
  line-height: 1.65;
  &[data-orientation='horizontal'] {
    border-top: none;
  }
  &[data-orientation='vertical'] {
    border-left: none;
  }
}

@keyframes tabs-show {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animatedContent-dff {
  &[data-state='active'] {
    animation: tabs-show 400ms ease;
  }
}

.contentAttr-dff {
  /* ensure we can see the content (because it has `hidden` attribute) */
  display: block;
}

.rootAttr-dff,
.contentAttr-dff,
.listAttr-dff,
.triggerAttr-dff {
  background-color: rgb(0 0 255 / 0.3);
  border: 2px solid blue;
  padding: 10px;
  &:disabled {
    opacity: 0.5;
  }
  &[data-disabled] {
    border-style: dashed;
  }

  &[data-state='inactive'] {
    border-color: red;
  }
  &[data-state='active'] {
    border-color: green;
  }
}


.root-466 {
  display: inline-flex;
  gap: 5px;
  padding: 5px;
  &[data-orientation='vertical'] {
    flex-direction: 'column';
  }
}

.item-466 {
  border: 1px solid var(--color-black);
  border-radius: 6px;
  padding: 5px 10px;
  font-size: 13px;
  background-color: var(--color-white);
  color: var(--color-black);

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &:disabled {
    opacity: 0.5;
  }

  &[data-state='on'] {
    background-color: var(--color-black);
    color: var(--color-white);
  }
}

.itemAttr-466 {
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10px;

  &[data-state='off'] {
    border-color: red;
  }
  &[data-state='on'] {
    border-color: green;
  }
  &[data-disabled] {
    border-style: dashed;
  }
  &:disabled {
    opacity: 0.5;
  }
}


.root-6d0 {
  padding: 6px;
  line-height: 1;
  border: none;
  font-family: sans-serif;
  font-weight: bold;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--color-black);
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  &[data-state='off'] {
    background-color: var(--color-red);
    color: var(--color-white);
  }

  &[data-state='on'] {
    background-color: var(--color-green);
    color: var(--color-white);
  }
}

.rootAttr-6d0 {
  background-color: rgba(0, 0, 255, 0.3);
  border: 2px solid blue;
  padding: 10px;

  &:disabled {
    opacity: 0.5;
  }
  &[data-disabled] {
    border-style: dashed;
  }
}


.toolbar-a15 {
  /* ensures things are layed out correctly by default */
  display: flex;
  &[data-orientation='vertical'] {
    flex-direction: column;
  }
  /* --------- */
  display: inline-flex;
  gap: 5px;
  box-sizing: border-box;
  min-width: 130px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray100);
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  font-family: apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
  font-size: 13px;

  &:focus-within {
    bordercolor: var(--color-black);
  }
}

.toolbarSeparator-a15 {
  height: 1px;
  margin: 5px;
  background-color: var(--color-gray100);

  &[data-orientation='vertical'] {
    width: 1px;
    height: auto;
  }
}

.toolbarItem-a15 {
  border: 1px solid var(--color-black);
  border-radius: 6px;
  background-color: transparent;
  padding: 5px 10px;
  font-family: apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
  font-size: 13px;
  display: flex;
  align-items: center;

  &:focus,
  &:focus-within {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
  }

  &[data-disabled] {
    opacity: 0.5;
    user-select: none;
  }
}

.toolbarLink-a15 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.toolbarToggleButton-a15 {
  &[data-state='on'] {
    background: black;
    color: white;
  }
}

.toolbarToggleGroup-a15 {
  display: flex;
  gap: 5;
  &[data-orientation='vertical'] {
    flex-direction: column;
  }
}

.toolbarToggleItem-a15 {
  &[data-state='on'] {
    background: black;
    color: white;
  }
}

/* ----------- */

.dropdownMenuContent-a15 {
  display: inline-block;
  box-sizing: border-box;
  min-width: 130px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray100);
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  font-family: apple-system, BlinkMacSystemFont, helvetica, arial, sans-serif;
  font-size: 13px;
  &:focus-within {
    border-color: var(--color-black);
  }
}

.label-a15,
.dropdownMenuItem-a15 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1;
  cursor: default;
  user-select: none;
  white-space: nowrap;
  height: 25px;
  padding: 0 10px;
  color: var(--color-black);
  border-radius: 3px;
}

.label-a15 {
  color: var(--color-gray100);
}

.dropdownMenuItem-a15 {
  outline: none;

  &[data-highlighted] {
    background-color: var(--color-black);
    color: var(--color-white);
  }

  &[data-disabled] {
    color: var(--color-gray100);
  }
}

@keyframes menu-animateIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes menu-animateOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.95);
    opacity: 0;
  }
}

.animatedContent-a15 {
  &[data-state='open'] {
    animation: menu-animateIn 300ms ease;
  }
  &[data-state='closed'] {
    animation: menu-animateOut 300ms ease;
  }
}

.animatedItemIndicator-a15 {
  &[data-state='checked'] {
    animation: menu-animateIn 300ms ease;
  }
  &[data-state='unchecked'] {
    animation: menu-animateOut 300ms ease;
  }
}
